@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

*{
    box-sizing: border-box;
}

body , 
html{
    height: 100%;
    width: 100%;
}
body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    color:#fff
}
.wrapper{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
ul , li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
   }

button{
    background: transparent;
    padding: 0;
    outline: none;
    border: 1px solid #8F00FF;
    color:#8F00FF;
    padding: 18px 40px 18px 40px;
}

button:hover{
    background: #8F00FF;
    color:white;
    transition: 0.4s;
}

p{
    margin: 0;
    color: white;
}

h1,
h2,
h3 {
    margin:0;
    color: white;
}

h2{
    font-weight: 700;
    font-size: 36px;
}

h3{
    font-weight: 700;
    font-size: 24px;
}
.button{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 5px;
}

.container{
    width: 1168px;
    margin: 0 auto;
}
.hero{
    background-color: #17191C;
    background-image: url(pictures/bg_main1.png);
    background-attachment: local;
    background-repeat: no-repeat;
    background-position-y: -325px;
    background-blend-mode: luminosity;
    background-size: 100%;
    background-clip: content-box;
    box-shadow: inset 0px -46px 50px #17191C;
}
.hero__container{
    padding: 34px 0 24px 0;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 94px;
}

.logo{
    font-weight: 700;
    font-size: 36px;
    background: linear-gradient(87.62deg, #8F00FF -2.44%, #00A3FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.menu{
    width: 391px;
    display: flex;
    justify-content: space-around;
}
.menu__title{
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.42;
}
.header__contacts{
    display: flex;
    flex-direction: column;
    align-items: end;
    color: #fff;
}
.phone{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-size: 26px;
    color: #fff;
}
.header__workhours{
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
}
.dropdown{
    position:relative
}
.dropdown:hover .dropdown__content{
    left: 0;
    opacity: 100%;
    transition: opacity 0.4s;
}
.dropdown__content{
    position:absolute;
    background: #EDEDED;
    color: #1E1F20;
    width: 160px;
    margin-left: -62px;
    margin-top: 8px;
    border-radius: 9px;
    padding: 15px 19px;
    left: -9999px;
    opacity: 0;
}
.dropdown__content:before{
    content: "";
    display: block;
    position: absolute;
    border:10px solid transparent;
    margin-top: -10px;
    margin-left: 95px;
    width: 0;
    height: 0;
    border-bottom-color: #EDEDED;
    border-top-width: 0;
}
.dropdown__content:before{
    content: "";
    display: block;
    height: 30px;
    left: 0;
    right: 0;
    top: -29px;
    position: absolute;
}
.dropdown__days{
    font-weight: 700;
}
.dropdown__lunch{
    font-weight: 600;
}
.hero__title{
    margin-bottom: 104px;
    font-weight: 700;
    font-size: 72px;
}

.breadcrumbs{
    display: flex;
    text-decoration: underline;
    font-weight: 400;
    font-size: 14px;
    color: #9A9A9A;
}

.breadcrumb__item::after{
    content: "/";
    margin: 0 4px 0 4px;
}
.breadcrumb__item:last-child::after{
    content: none;
}
.main{
    background: #fff;
}
.main__container{
    padding: 100px 0 49px 0;
}
.main__list{
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
}
.main__game{
    display: flex;
}
.main__game:nth-child(1){
    margin-bottom: 50px;
}

.game__pic{
    width: 460px;
    height: 333px;
    margin: 0 56px 0 0;
    background-color: black;
    object-fit: contain;
    border-radius: 5px;
}
.game__text{
    padding: 12px 0 18px 0;
}
.game__name{
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 28.5px;
    color: #000000;
}
.game__desc{
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 34.5px;
    color: #303030;
}

.main__paginator{
    color: #000000;
    text-align: center;
}
.pages{
    display: inline-block;
}
.current__page{
    font-weight: 400;
    font-size: 16px;
    margin-right: 25px;
}
.page__item{
    display: inline-block;
}
.page__link{
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    color: #000000;
    background: transparent;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    line-height: 32px;
    transition: .3s;
}
.page__link:hover{
    background: #8F00FF;
    color:#fff;
    transition: 0.4s;
}

.partners{
    background: #F4F5F5;
}
.partners__container{
    padding: 88px 0 115px 0;
}
.partners__title{
    color: #000000;
    margin-bottom: 75px;
}
.partners__list{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-around;
    min-height: 193px;
}

.partner{
    flex: 1 0 21%;
    align-self: center;
}

.footer{
    padding: 62px 0 43px 0;
    background: #17191C;
}
.footer__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.socials{
    display: flex;
    flex-direction: row;
    width: 174px;
    justify-content: space-between;
}
.socials__icon{
    display:block;
}
.fb-icon{
    width: 36px; 
    height: 36px;
    background: url('pictures/css_sprites.png') -10px -10px;
}
.vk-icon{
    width: 36px; 
    height: 36px;
    background: url('pictures/css_sprites.png') -66px -10px;
}
.tg-icon{
    width: 36px; 
    height: 36px;
    background: url('pictures/css_sprites.png') -10px -66px;
}
.in-icon{
    width: 36px; 
    height: 36px;
    background: url('pictures/css_sprites.png') -66px -66px;
}
.footer__contacts{
    display: flex;
    flex-direction: column;
    align-items: end;
}
.footer__comment{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    color: #9A9A9A;
}
