@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

*{
    box-sizing: border-box;
}

body , 
html{
    height: 100%;
    width: 100%;
}
body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    color:#fff
}

.wrapper{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background: #17191C;
    background-image: url(pictures/bg_main1.png), url(pictures/bg_main2.png);
    background-attachment: local, local;
    background-position: top, bottom;
    background-repeat: no-repeat, no-repeat;
    background-blend-mode: luminosity, luminosity ;
    background-size: 100%;
}

ul , li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a{
    text-decoration: none;
}

button{
    background: transparent;
    padding: 0;
    outline: none;
    border: 1px solid transparent;
}

p{
    margin: 0;
    color: white;
}

h1,
h2,
h3 {
    margin:0;
    color: white;
}

h2{
    font-weight: 700;
    font-size: 36px;
}

h3{
    font-weight: 700;
    font-size: 24px;
}
.container{
    width: 1140px;
    margin: 21px auto;
}


.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 130px;
}

.logo{
    font-weight: 700;
    font-size: 36px;
    background: linear-gradient(87.62deg, #8F00FF -2.44%, #00A3FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.menu{
    width: 391px;
    display: flex;
    justify-content: space-around;
}
.menu__title{
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.42;
}
.header__contacts{
    display: flex;
    flex-direction: column;
    align-items: end;
    color: #fff;
}
.phone{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-size: 26px;
    color: #fff;
}
.header__workhours{
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
}

.intro{
    margin-right: 503px;
    margin-bottom: 190px;
}
.intro__header{
    font-weight: 700;
    font-size: 60px;
    line-height: 1.1;
    margin-bottom: 21px;
}
.intro__desc{
    font-weight: 400;
    font-size: 21px;
    margin-bottom: 76px;
}
.intro__button{
    min-width: 168px;
    min-height: 55px;
    color: #fff;
    background: #8F00FF;
    padding: 18px 40px 18px 40px;
}
.button{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 5px;
}
.intro__button:hover{
    background: white;
    border:1px solid #8F00FF;
    color: #8F00FF;
}

.news{
    margin-bottom: 127px;
}

.news__header{
    margin-bottom: 51px;
}
.news__title ,
.news__icon{
    display: inline-block;
    vertical-align: middle;
}
.news__title{
    margin-right: 9px;
}

.news__list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.news__card{
    display: flex;
    flex-direction: column;
    bottom: 0;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #fff;
    max-width: 362px;
}
.news__bg{
    max-height: 144px;
}
.news__name{
    color:black;
    margin-bottom: 21px;
    }

.news__content{
    padding: 33px 34px 26px 22px;
}

.news__features{
    display: flex; 
    justify-content: space-between;
    margin-bottom: 23.5px;
}

.feature__icon{
    margin: 0 5px 0 3px;
    vertical-align: middle;
}
.feature__text{
    vertical-align: middle;
    color: #666666;
}
.news__desc{
    font-weight: 400;
    font-size: 14px;
    color: #303030;
    margin-bottom: 24.5px;
}
.news__button{
    /* min-width: 135px;
    min-height: 55px; */
    color: #8F00FF;
    background: white;
    border-color: #8F00FF;
    padding: 18px 30px 18px 30px;
}
.news__button:hover{
    background: #8F00FF;
    color: #fff;
}
.news__list:last-child{
    margin-right: 0px;
}

.done{
    margin-bottom: 120px;
}

.done__header{
    margin-bottom: 46px;
}
.done__body{
    margin-bottom: 53px;
}
.done__list{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.done__card{
    margin-right: 13px;
}
.done__card:last-child{
    margin-right: 0;
}

.done__bg{
    background: linear-gradient(0deg, rgba(90, 90, 90, 0.3), rgba(90, 90, 90, 0.3));
    z-index: -1;
    border-radius: 3px;
}

.done__content{
    margin-top: -141px;;
    padding: 0 51px 27px 30px;
}
.done__date{
    margin-bottom: 15px;
}
.done__paginator{
    text-align: center;
}
.pages{
    display: inline-block;
}
.current__page{
    font-weight: 400;
    font-size: 16px;
    margin-right: 25px;
}
.page__item{
    display: inline-block;
    
}
.page__link{
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: transparent;
    font-weight: 700;
    font-size: 16px;
    color:white;
    text-align: center;
    line-height: 32px;
    transition: .3s;
}
.page__link:hover{
    background: #8F00FF;
}

.about{
    margin-bottom: 53px;
}
.about__pic{
    display: inline-block;
}
.about__box{
    display: inline-block;
    vertical-align: top;
    width: 785px;
    height: 455px;
    background: linear-gradient(71.43deg, #8F00FF 0%, #148CFF 100%), #212121;
    border-radius: 5px;
    padding: 70px 202px 66px 81px;
    margin-left: -139px;
    margin-top: 118px;
}

.about__header{
    margin-bottom: 37px;
}

.about__text{
    margin-bottom: 43px;
}
.about__button{
    min-height: 55px;
    min-width: 168px;
    padding: 18px 40px 18px 40px; 
    color:#fff;
    border-color: white;
}
.about__button:hover{
    color:#8F00FF;
    background-color: white;
}

.line{
    height: 1px;
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.1;
    margin-bottom: 45px;
}


.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.socials{
    display: flex;
    flex-direction: row;
    width: 174px;
    justify-content: space-between;
}
.footer__contacts{
    display: flex;
    flex-direction: column;
    align-items: end;
}
.footer__comment{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    color: #9A9A9A;
}