@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

*{
    box-sizing: border-box;
}

body , 
html{
    height: 100%;
    width: 100%;
}

body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    color:#fff
}

.wrapper{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color: #17191C;
    background-image: url(pictures/bg_main1.png);
    background-attachment: local;
    background-repeat: no-repeat;
    background-blend-mode: luminosity;
    background-size: 100%;
    background-clip: content-box;
    box-shadow: inset 0px -46px 50px #17191C;
}

a,
a:hover,
a:visited,
a:active{
    color: inherit;
    text-decoration: none;
}

 


.container{
    width: 338px;
    margin: 334px auto;
    animation: myAnimation 1.3s;
}

@keyframes myAnimation{
    0%{
        opacity: 0;
        transform: translateY(0);
    }
    55%{
        transform: translateY(-70px);
    }
    65%{
        transform: translateY(-5px);
    }
    90%{ 
        transform: translateY(-30px);
    }
    100%{
        opacity: 100%;
        transform: translateY(0);
    }

}

button{
    background: #8F00FF;
    padding: 0;
    outline: none;
    border: 1px solid #8F00FF;
    color:white;
    padding: 18px 58px 18px 58px;
}

button:hover{
    background: white;
    color:#8F00FF;
    transition: 0.4s;
}
.start__logo{
    margin-bottom: 50px;
}

.logo{
    font-weight: 700;
    font-size: 72px;
    background: linear-gradient(87.62deg, #8F00FF -2.44%, #00A3FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.start__button{
    margin: 0 25%;
}
.button{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 5px;
}